header {
    background-color: black;
    border: solid black;
    height: 20vh;
    color:orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    font-size: 0.9rem;

    font-size: 2rem;
}

#ContenedorHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vh;
}

#logo {
    width: 20vh;
    height: 20vh;
}